
<div class="app-page-title">
  <div class="page-title-wrapper">
    <div class="page-title-heading">
      <div class="page-title-icon">
        <i class="icon {{icon}}"></i>
      </div>
      <div>
        {{heading}}
        <div
          class="page-title-subheading">
          {{subheading}}
        </div>
      </div>
    </div>
    <div class="page-title-actions">
      <button type="button" class="btn-shadow mr-3 btn btn-dark">
        <fa name="star"></fa>
      </button>
      <button type="button" class="btn-shadow d-inline-flex align-items-center btn btn-success" data-toggle="modal" data-target="#exampleModal"  (click)="openModal(Ajout)">
        <fa class="mr-2" name="plus"></fa>
       Ajouter chambre
      </button>
    </div>
  </div>
</div>
<div class="main-card mb-3 card">
 
  <div class="table-responsive">
    <table class="align-middle text-truncate mb-0 table table-borderless table-hover">
      <thead>
      <tr>
        <th class="text-center">id </th>
        <th class="text-center">Image</th>
        <th class="text-center">Nom</th>
        <th class="text-center">Détails</th>
        <th class="text-center">Prix</th>
        <th class="text-center">Statut</th>
        <th class="text-center">Actions</th>
      </tr>
      </thead>
      <tbody *ngFor="let room of rooms |  async | paginate:{itemsPerPage:6, currentPage:p}; ">
      <tr>
        <td class="text-center text-muted" style="width: 80px;">{{room.id}}</td>
        <td class="text-center" >
          <button type="button" style="border: 0;"   data-toggle="modal" data-target="#exampleModal"  (click)="openModal(template, room.fileURL)" >
              <img width="60"  class="rounded" [src]="room.fileURL" alt="">
          <!-- <img width="40"  [src]="room.fileURL" alt=""> -->
          <ng-template #template let-c="close" let-d="dismiss">
            <div class="modal-header">
              <h4 class="modal-title">Voir Image</h4>
              <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" >
              <div style="height: 250px; width: 200px; text-align: center;" >
                <img  [src]="url" alt="" width="300px" height="300px" >
          
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" (click)="modalRef.hide()">Close</button>
            </div>
          </ng-template>
        </button>
        </td>
        <td class="text-center"><a [routerLink]="">{{room.name_room}}</a></td>
        <td class="text-center"><a [routerLink]="">{{room.details}}</a></td>

        <td class="text-center"><a [routerLink]="">{{room.price}}<small>dt</small></a></td>
        <td class="text-center" >
          <div *ngIf="room.status ==false">

          
          <div class="badge badge-pill badge-success">Not Reserved</div>
        </div>
          <div  *ngIf="room.status ==true">
          
            <div class="badge badge-pill badge-danger" >Reserved</div>
          </div>
        </td>
     
       
        <td class="text-center">
          <div role="group" class="btn-group-sm btn-group">
            <button type="button" class="mr-2 btn-icon btn-icon-only btn btn-success" placement="bottom"
            ngbTooltip="update" (click)="updateRoom(room.id)" > <i class="pe-7s-note2
              btn-icon-wrapper"> </i></button>
              <button class="mr-2 btn-icon btn-icon-only btn btn-danger" placement="bottom"
              ngbTooltip="delete" (click)="deleteRoom(room.id)">
              <i class="pe-7s-trash btn-icon-wrapper"> </i>
             </button>
          </div>
        </td>
      </tr>
     
      </tbody>
    </table>
    <div class="text-center"> 
      <pagination-controls class="paginate" style="color: blue;" (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>


 
</div>



<ng-template #Ajout>

  <div class="content-content">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    <!-- main app container -->
    <div class="card m-3">
      <h5 class="card-header">Ajouter chambre</h5>
      <div class="card-body">
         <form [formGroup]="registerFormUser" (ngSubmit)="onSubmit()">

          <div class="form-group col-12">
            <label> Nom de chambre: </label>
            <input type="text" formControlName="name_room" placeholder=" Entrer le nom" name="name_room" class="form-control" [(ngModel)]="room.name_room"
              [ngClass]="{ 'is-invalid': submitted && u.name.errors }" />
            <div *ngIf="submitted && u.name.errors" class="invalid-feedback">
              <div *ngIf="u.name.errors.required">Nom obligatoire</div>
            </div>
          </div> 
         
          <div class="form-group col-12">
            <label>Details: </label>
            <input type="text" formControlName="details" placeholder="Entrer les details" name="details" class="form-control" [(ngModel)]="room.details"
              [ngClass]="{ 'is-invalid': submitted && u.details.errors }" />
            <div *ngIf="submitted && u.details.errors" class="invalid-feedback">
              <div *ngIf="u.details.errors.required">Details obligatoire</div>
            </div>
          </div> 

          <div class="form-group col-12">
            <label>Price: </label>
            <input type="number" formControlName="price" placeholder="Entrer le prix" name="price" class="form-control" [(ngModel)]="room.price"
              [ngClass]="{ 'is-invalid': submitted && u.price.errors }" />
            <div *ngIf="submitted && u.price.errors" class="invalid-feedback">
              <div *ngIf="u.price.errors.required">prix obligatoire</div>
            </div>
          </div>

         

          <div class="position-relative form-group"><label >Image: </label><input name="file" id="exampleFile" 
            type="file" class="form-control-file"  [(ngModel)]="room.file"  [ngClass]="{ 'is-invalid': submitted && u.file.errors }" (change)="selectFile($event)">
            <div *ngIf="submitted && u.file.errors" class="invalid-feedback">
              <div *ngIf="u.file.errors.required">image obligatoire</div>
            </div>
         
          </div>
        
         
          <div class="text-center">
            <button class="btn btn-primary mr-1"> Enregistrer</button>
            <button class="btn btn-danger mr-1" type="reset" (click)="onReset()"> Annuler</button>
          </div>

        </form> 
      </div>
    </div>

  </div>

</ng-template>

