<div class="app-page-title">
  <div class="page-title-wrapper">
    <div class="page-title-heading">
      <div class="page-title-icon">
        <i class="icon {{icon}}"></i>
      </div>
      <div>
        {{heading}}
        <div
          class="page-title-subheading">
          {{subheading}}
        </div>
      </div>
    </div>
 
  </div>
</div>




<div class="divider mt-0" style="margin-bottom: 30px;"></div>
<div class="row">
  <div class="col-lg-6 col-xl-4">
    <div class="card mb-3 widget-content bg-night-fade">
      <div class="widget-content-wrapper text-white">
        <div class="widget-content-left">
          <div class="widget-heading" style="font-size: 20px;">  <i style="font-size: 30px;" class="pe-7s-note2"></i>  Nombre des reservations</div>
          <div class="widget-subheading">Totale réservation</div>
        </div>
        <div class="widget-content-right">
          <div class="widget-numbers text-white"><span>{{nbrReservations}}</span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-xl-4">
    <div class="card mb-3 widget-content bg-arielle-smile">
      <div class="widget-content-wrapper text-white">
        <div class="widget-content-left">
          <div class="widget-heading" style="font-size: 20px;">  <i style="font-size: 30px;" class="pe-7s-user"></i>  Utilisateurs</div>
          <div class="widget-subheading">Totale Comptes</div>
        </div>
        <div class="widget-content-right">
          <div class="widget-numbers text-white"><span>{{nbrUsers}}</span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-xl-4">
    <div class="card mb-3 widget-content bg-happy-green">
      <div class="widget-content-wrapper text-white">
        <div class="widget-content-left">
          <div class="widget-heading"style="font-size: 20px;">  <i style="font-size: 30px;" class="pe-7s-note2"></i> Nombres des activités</div>
          <div class="widget-subheading">Totale activités disponible</div>
        </div>
        <div class="widget-content-right">
          <div class="widget-numbers text-white"><span>{{nbrActivities}}</span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-xl-4">
    <div class="card mb-3 widget-content bg-plum-plat">
      <div class="widget-content-wrapper text-white">
        <div class="widget-content-left">
          <div class="widget-heading" style="font-size: 20px;"> <i style="font-size: 30px;" class="pe-7s-lock"></i>  Nombre des chambres réservée</div>
          <div class="widget-subheading">Totale réservée</div>
        </div>
        <div class="widget-content-right">
          <div class="widget-numbers text-white"><span>{{nbrRoomsReserved}}</span></div>
        </div>
      </div>
    </div>
  </div>
 
  <div class="col-lg-6 col-xl-4">
    <div class="card mb-3 widget-content bg-premium-dark">
      <div class="widget-content-wrapper text-white">
        <div class="widget-content-left">
          <div class="widget-heading" style="font-size: 20px;"> <i style="font-size: 30px;" class="pe-7s-key"></i>  Nombre des chambres non réservée </div>
          <div class="widget-subheading">Totale non réservée</div>
        </div>
        <div class="widget-content-right">
          <div class="widget-numbers text-white"><span>{{nbrRoomsFree}}</span></div>
        </div>
      </div>
    </div>
  </div>
 
</div>
