<div [class]="'app-sidebar sidebar-shadow ' + (config$ | async).sidebarTheme" (mouseover)="sidebarHover()"
     (mouseout)="sidebarHover()">
  <div class="app-header__logo">
    <div class="logo-src"></div>
    <div class="header__pane ml-auto">
      <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
              [ngClass]="{'is-active' : globals.toggleSidebar}" (click)="toggleSidebar()">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
  </div>
  <div class="app-sidebar-content">
    <div class="app-sidebar-scroll">
        <div class="v-sidebar-menu vsm-default">
          <div class="vsm-list">
            <!-- <ngb-accordion [destroyOnHide]="false" [closeOthers]="true" [activeIds]="extraParameter"> -->
           
            <!-- </ngb-accordion> -->
            <div class="vsm-header" *ngIf="showAdminBoard">TABLEAU DE BORD</div>
            <div class="vsm-item" *ngIf="showAdminBoard">
              <a routerLink="/dashboard" routerLinkActive="active-item" class="vsm-link">
                <i class="vsm-icon pe-7s-graph2"></i>
                <span class="vsm-title">Tableau de bord</span>
              </a>
             
            </div>
     
    
    
           
            <div class="vsm-header">RESERVATION</div>
      
                 
            <button  class="vsm-link">
              <i class="vsm-icon pe-7s-note2"></i>
              <span class="vsm-title">Gestion des Réservation</span>
              <i class="vsm-arrow"></i>
            </button>
        
            <div class="vsm-dropdown">
              <div class="vsm-list">
                <div class="vsm-item">
                  <a routerLinkActive="" routerLink="/gestionReservation"
                     class="vsm-link" > <span
                    class="vsm-title">Liste des reservations</span></a>
                </div>
               
               <!-- <div class="vsm-item" >
                  <a routerLinkActive="" routerLink="/gestionReservation/:id"
                     class="vsm-link"> <span
                    class="vsm-title">Modifier des reservation</span></a>
                </div> 
                -->
              </div>
            </div>

          

               
            <div class="vsm-header">UTILISATEURS</div>
      
        
            <button  class="vsm-link">
              <i class="vsm-icon pe-7s-user"></i>
              <span class="vsm-title">Gestion des utilisateurs</span>
              <i class="vsm-arrow"></i>
            </button>
        
            <div class="vsm-dropdown">
              <div class="vsm-list">
                <div class="vsm-item">
                  <a routerLink="/gestionUser"
                  routerLinkActive="active-item"
                                               [routerLinkActiveOptions]="{exact: true}"
                     class="vsm-link"  *ngIf="showAdminBoard"> <span
                    class="vsm-title">Liste des utilisateurs</span></a>
                </div>
                <div class="vsm-item">
                  <a routerLink="/gestionReception"
                  routerLinkActive="active-item"
                                               [routerLinkActiveOptions]="{exact: true}"
                     class="vsm-link"  *ngIf="showReceptionBoard"> <span
                    class="vsm-title">Liste des Clients</span></a>
                </div>
                <!-- <div class="vsm-item">
                  <a routerLink="/gestionReception"
                  routerLinkActive="active-item"
                                               [routerLinkActiveOptions]="{exact: true}"
                     class="vsm-link"  *ngIf="showAdminBoard"> <span
                    class="vsm-title">Liste des Receptions</span></a>
                </div> -->
               
                <div class="vsm-item">
                  <a   routerLinkActive="active-item"
                   routerLink="/updateUser/:id"
                     class="vsm-link" *ngIf="showAdminBoard"> <span
                    class="vsm-title">Modifier des utilisateurs</span></a>
                </div>
               
              </div>
            </div>


            <div class="vsm-header">CHAMBRES</div>
        
                  <button   class="vsm-link">
                    <i class="vsm-icon pe-7s-key"></i>
                    <span class="vsm-title">Gestion des chambres</span>
                    <i class="vsm-arrow"></i>
                  </button>
              
                  <div class="vsm-dropdown">
                    <div class="vsm-list">
                      <div class="vsm-item">
                        <a routerLinkActive="" routerLink="/gestionRoom"
                           class="vsm-link"> <span
                          class="vsm-title">Liste des chambres</span></a>
                      </div>
                     
                      <div class="vsm-item">
                        <a routerLinkActive="" routerLink="/"
                           class="vsm-link" > <span
                          class="vsm-title">Modifier des chambres</span></a>
                      </div>
                     
                    </div>
                  </div>
              <div  >
                  <div class="vsm-header">ACTIVITES</div>
      
                 
                  <button  class="vsm-link">
                    <i class="vsm-icon pe-7s-note2"></i>
                    <span class="vsm-title">Gestion des activité</span>
                    <i class="vsm-arrow"></i>
                  </button>
              
                  <div class="vsm-dropdown">
                    <div class="vsm-list">
                      <div class="vsm-item">
                        <a routerLinkActive="" routerLink="/gestionActivity"
                           class="vsm-link"> <span
                          class="vsm-title">Liste des activités</span></a>
                      </div>
                     
                      <div class="vsm-item">
                        <a routerLinkActive="" routerLink="/updateActivity/:id"
                           class="vsm-link"  > <span
                          class="vsm-title">Modifier des activités</span></a>
                      </div>
                     
                    </div>
                  </div>

                </div>
               

          </div>
        </div>
    </div>
  </div>
</div>
